<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: #f9f9f9; color: #474545;">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center bg-primary text-white">
                        <h3>Edit Task</h3>
                    </div>
                    <div class="card-body">
                        <form action="/editData" method="POST">
                            <input type="hidden" name="id" value="<%= user.id %>" />
                            <div class="form-group">
                                <label for="taskInput">Task</label>
                                <input type="text" name="task" class="form-control" id="taskInput" value="<%= user.task %>" required />
                            </div>
                            <button type="submit" class="btn btn-outline-primary btn-block">
                                Update Task
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
